<div class="container">
  <form>
    <input type="text"  placeholder="Nome do cliente" class="form-control" name="nomeCliente"        [(ngModel)]="cliente.nomeCliente"/>
    <input type="text"  placeholder="Cpf"             class="form-control" name="cpf"                [(ngModel)]="cliente.cpf"/>

    <input type="button" value="Cadastrar" *ngIf="btnCadastrar"  class="btn btn-primary" (click)="cadastrar()">
    <input type="button" value="Alterar"   *ngIf="!btnCadastrar"  class="btn btn-warning">

  </form>

      <table class="table" *ngIf="tabela">
        <thead>
            <tr>
              <th>Id da tabela</th>
              <th>Id do cliente</th>
              <th>Nome do Cliente</th>
              <th>Cpf</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of clientes; index as i">
             <td>{{i+1}}</td>
             <td>{{c.idCliente}}</td>
             <td>{{c.nomeCliente}}</td>
             <td>{{c.cpf}}</td>
          </tr>
        </tbody>
    </table>
</div>


